body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(#000000, #1a1a00, #000000);
  color: #ffea00;
  align-items: center;
}

/* ====== NAVBAR ====== */
.navegação {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: #0d0d00;
  color: #ffea00;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #ffea00;
}

.nav-desktop a {
  color: #ffea00;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-desktop a:hover {
  color: #ffffff;
}

/* ====== BARRA DE PESQUISA ====== */
.pesquisa {
  display: flex;
  align-items: center;
  background-color: #1a1a00;
  border: 1px solid #ffea00;
  border-radius: 16px;
  padding: 2px;
}

.pesquisa input {
  border: none;
  outline: none;
  padding: 4px;
  width: 120px;
  border-radius: 16px;
  background-color: #000;
  color: #ffea00;
}

.pesquisa button {
  background-color: #ffea00;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  padding: 4px 8px;
  color: #000;
  transition: background-color 0.3s;
}

.pesquisa button:hover {
  background-color: #fff56d;
}

/* ====== USUÁRIO ====== */
.usuario {
  display: flex;
  align-items: center;
  gap: 6px;
}

.usuario button {
  background-color: #000;
  border: 1px solid #ffea00;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  color: #ffea00;
  transition: all 0.3s;
}

.usuario button:hover {
  background-color: #ffea00;
  color: #000;
}

.usuario img {
  width: 18px;
  height: 18px;
}

/* ====== USUÁRIO ====== */
.usuario {
  display: flex;
  align-items: center;
  gap: 6px;
}

.usuario button {
  background-color:#ffea00;
  border: 1px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  color: #f0d76c;
  transition: all 0.3s;
}

.usuario button:hover {
  background-color: #fff04d;
  color: #000;
}

.usuario img {
  width: 18px;
  height: 18px;
}

/* ====== MENU HAMBÚRGUER ====== */
.hamburguer {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.linha {
  height: 4px;
  background-color: #ffea00;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.menu-escondido {
  display: none;
}

.menu {
  display: none;
  list-style: none;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  background-color: #111;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.menu li a {
  display: block;
  padding: 16px;
  color: #f0d76c;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #b8860b;
  color: #000;
}

.menu-escondido:checked ~ .menu {
  display: block;
}

.menu-escondido:checked~.menu {
  max-height: 500px;
  padding: 8px 0;
}

.menu-escondido:checked~.hamburguer .linha1 {
  transform: rotate(50deg) translate(8px, 8px);
}

.menu-escondido:checked~.hamburguer .linha2 {
  opacity: 0;
}

.menu-escondido:checked~.hamburguer .linha3 {
  transform: rotate(-50deg) translate(8px, -7px);
}


/* ====== PRODUTO ====== */
.produto-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 40px auto;
  padding: 20px;
  max-width: 900px;
}

.imagem-produto img {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgb(174, 255, 0, 0.5);
}

.descricao-produto {
  text-align: left;
  max-width: 400px;
}

.descricao-produto p {
  font-size: 18px;
  margin-bottom: 20px;
}

.botão {
  background-color: #ffea00;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #000;
  transition: background-color 0.3s;
}

.botão a{
  text-decoration: none;
  color: #000
}

.botão:hover {
  transition: 0.3s ease all;
  transform: scale(1.1);
  box-shadow: 0 0 10px #ffffff;
  color: #000;
  padding: 10px 16px;
  cursor: pointer;
  background-color: #c7c700;
}


/* ====== INFO ====== */
.info {
  text-align: center;
  font-size: 18px;
  padding: 5px;
  border: 2px solid #b8860b;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 8px;
  background-color: #111;
  box-shadow: 0 0 10px rgba(184, 134, 11, 0.3);
}

.info p{
  color: #ffffff;
  margin: 5px 0;
  width: 100%;
  padding-left: 20px;
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.contendo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: #0b0b0b;
  color: #ffea00;
  border: 1px solid #ffea00;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(255, 234, 0, 0.3);
  max-width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffea00;
}

.card img {
  width: 50%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: auto;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card2 {
  min-width: 0%; /* Cada card ocupa a largura total do contêiner */
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 0px;
  text-align: center;
}

.card2 img {
  max-width: 50%;
  height: auto;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}


footer {
  background-color: #000;
  color: #ffea00;
  padding: 20px;
  text-align: center;
  margin-top: 70px;
  border-top: 1px solid #ffea00;
  box-shadow: 0 -2px 10px rgba(255, 234, 0, 0.4);
  display: grid;
  place-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.poli{
  text-decoration: none;
  color: #ffffff;
}

.poli:hover{
  color: #b3a400;
}


/* ====== FORMULÁRIO ====== */
.form-container {
  width: 320px;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 0.75rem;
  background: linear-gradient(#000, #1a1a1a);
  padding: 2rem;
  color: #f0d76c;
  border: 1px solid #b8860b;
  box-shadow: 0 0 15px rgba(184, 134, 11, 0.4);
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  --animation: 2s ease-in-out infinite;
}

.loader .circle{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #ffea00;
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}

.loader .circle .dot{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: dot-keys var(--animation);
}

.loader .circle .outline{
  position: absolute;
  transform: translate(-50, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: outline-keys var(--animation)
}

.circle:nth-child(1) {
  --color: #ffea00;
  border-color: var(--color);
}

.circle:nth-child(1) .dot{
  background-color: var(--color);
}

.circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}

@keyframes circle-keys{
  0%{
    transform: scale(1);
    opacity: 1
  }
  50%{
    transform: scale(1.5);
    opacity: 0.5
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dot-keys{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes outline-keys{
  0%{
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }
  100%{
    transform: scale(1);
    outline: solid 0px var(--color);
    outline-offset: 20px;
    opacity: 0;
  }
}

.blinker {
  text-align: center;
  font-size: 1.5rem;
  margin-left: 10px;
  font-weight: 700;
  color: #ffea00;
  animation: blink 2s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    100% { opacity: 0; }
}

.wave {
  text-align: center;
  font-size: 1.5rem;
  margin-left: 10px;
  font-weight: 700;
  color: #ffea00;
}

.wave span{
  display: inline-block;
  animation: wave 1s infinite;
}

.wave span:nth-child(1) { animation-delay: 0.1s;}
.wave span:nth-child(2) { animation-delay: 0.2s;}
.wave span:nth-child(3) { animation-delay: 0.3s;}
.wave span:nth-child(4) { animation-delay: 0.4s;}
.wave span:nth-child(5) { animation-delay: 0.5s;}
.wave span:nth-child(6) { animation-delay: 0.6s;} 
.wave span:nth-child(7) { animation-delay: 0.7s;} 
.wave span:nth-child(8) { animation-delay: 0.8s;}
.wave span:nth-child(9) { animation-delay: 0.9s;}

@keyframes wave{
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.input-group label {
  display: block;
  color: #ffea00;
  margin-bottom: 4px;
}

.input-group input {
  width: 90%;
  border-radius: 0.375rem;
  border: 1px solid #bdad00;
  outline: 0;
  background-color: #000;
  padding: 0.75rem 1rem;
  color: #fedb3e;
}

.input-group input:focus {
  border-color: #73ff00;
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  color: #ffea00;
  margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
  color: #95ff5c;
  text-decoration: none;
}

.forgot a:hover,
.signup a:hover {
  text-decoration: underline #d4a017;
}

.sign {
  display: block;
  width: 100%;
  background-color: #80ff00;
  padding: 0.75rem;
  text-align: center;
  color: #000;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: 0.3s;
}

.sign:hover {
  background-color: #4d9900;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: #59ff00;
}

.social-message .message {
  padding: 0 0.75rem;
  font-size: 0.875rem;
  color: #9aef6b;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  background-color: transparent;
  margin-left: 8px;
  border: 1px solid #b8860b;
  transition: background-color 0.3s;
}

.social-icons .icon:hover {
  background-color: #b8860b;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #f0d76c;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  color: #f0d76c;
}

.whatsapp-button {

    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #323433;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    animation: pulse 2s infinite;

}

.whatsapp-button:hover{

    background-color: #adadad;

}

@keyframes pulse{

    0%, 100% {transform: scale(1);}
    50% {transform: scale(1.1);}

}

.whatsapp-button img {

    width: 30px;
    height: 30px;

}


/* ====== RESPONSIVO ====== */
@media (max-width: 768px) {
  .produto-container {
    flex-direction: column;
    text-align: center;
  }

  .descricao-produto {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .nav-desktop {
    display: none;
  }

  .hamburguer {
    display: flex;
  }

  .contendo {
    flex-direction: column;
  }

  .card {
    max-width: 80%;
  }
}
