body {
      justify-content: center; 
      height: 100vh; 
      background: linear-gradient(#000000, #1a1a00, #000000);
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background: linear-gradient(#000000, #1a1a00, #000000);
color: #000000;
align-items: center;}

.navegação {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: #0d0d00;
  color: #ffea00;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #ffea00;
}

.nav-desktop a {
  color: #ffea00;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-desktop a:hover {
  color: #ffffff;
}

/* ====== BARRA DE PESQUISA ====== */
.pesquisa {
  display: flex;
  align-items: center;
  background-color: #1a1a00;
  border: 1px solid #ffea00;
  border-radius: 16px;
  padding: 2px;
}

.pesquisa input {
  border: none;
  outline: none;
  padding: 4px;
  width: 120px;
  border-radius: 16px;
  background-color: #000;
  color: #ffea00;
}

.pesquisa button {
  background-color: #ffea00;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  padding: 4px 8px;
  color: #000;
  transition: background-color 0.3s;
}

.pesquisa button:hover {
  background-color: #fff56d;
}

/* ====== USUÁRIO ====== */
.usuario {
  display: flex;
  align-items: center;
  gap: 6px;
}

.usuario button {
  background-color: #000;
  border: 1px solid #ffea00;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  color: #ffea00;
  transition: all 0.3s;
}

.usuario button:hover {
  background-color: #ffea00;
  color: #000;
}

.usuario img {
  width: 18px;
  height: 18px;
}

/* ====== USUÁRIO ====== */
.usuario {
  display: flex;
  align-items: center;
  gap: 6px;
}

.usuario button {
  background-color:#ffea00;
  border: 1px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  color: #f0d76c;
  transition: all 0.3s;
}

.usuario button:hover {
  background-color: #fff04d;
  color: #000;
}

.usuario img {
  width: 18px;
  height: 18px;
}

/* ====== MENU HAMBÚRGUER ====== */
.hamburguer {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.linha {
  height: 4px;
  background-color: #ffea00;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.menu-escondido {
  display: none;
}

.menu {
  display: none;
  list-style: none;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  background-color: #111;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  filter:  ;
}

.menu li a {
  display: block;
  padding: 16px;
  color: #f0d76c;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #b8860b;
  color: #000;
}

.menu-escondido:checked ~ .menu {
  display: block;
}

.menu-escondido:checked~.menu {
  max-height: 500px;
  padding: 8px 0;
}

.menu-escondido:checked~.hamburguer .linha1 {
  transform: rotate(50deg) translate(8px, 8px);
}

.menu-escondido:checked~.hamburguer .linha2 {
  opacity: 0;
}

.menu-escondido:checked~.hamburguer .linha3 {
  transform: rotate(-50deg) translate(8px, -7px);
}



.chat-container { width: 350px; 
                 margin: 0 auto;
                 margin-top: 180px;
                 margin-bottom: 180px;
                 padding: 10px;
                 background: linear-gradient(#000000, #616100, #000000);
                 border-radius: 10px; 
                 box-shadow: 0 0 10px rgba(0,0,0,0.1); 
                 display: flex; 
                 flex-direction: column; 
                 height: 450px; }

.chat-header { padding: 10px; 
              background: #ffffff; 
              color: black; 
              text-align: center;
              border-radius: 10px 10px 0 0; }

.chat-window { flex-grow: 1; 
              padding: 10px; 
              overflow-y: auto; 
              display: flex; 
              flex-direction: column; }


.chat-form { display: flex; 
            padding: 10px; 
            align-items: center;}

.chat-form input { flex-grow: 1; 
                  padding: 10px; 
                  border: 1px solid #ccc; 
                  border-radius: 5px 0 0 5px; }

.chat-form button { padding: 11px; 
                   border: none; 
                   background: #ffea00; 
                   color: black; 
                   border-radius: 0 5px 5px 0; 
                   cursor: pointer; }

.message { margin-bottom: 10px; 
          padding: 8px 12px; 
          border-radius: 5px; 
          max-width: 80%; }

.user-message { align-self: flex-end; 
               background: #ffea00; }

.bot-message { align-self: flex-start; 
              background: #8a7e00; }

@media (max-width: 992px) {
  .nav-desktop {
    display: none;
  }

  .hamburguer {
    display: flex;
  }