body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(#000000, #1a1a00, #000000);
  color: #ffea00;
  align-items: center;
}

/* ====== NAVBAR ====== */
.navegação {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: #0d0d00;
  color: #ffea00;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #ffea00;
}

.nav-desktop a {
  color: #ffea00;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-desktop a:hover {
  color: #ffffff;
}

/* ====== BARRA DE PESQUISA ====== */
.pesquisa {
  display: flex;
  align-items: center;
  background-color: #1a1a00;
  border: 1px solid #ffea00;
  border-radius: 16px;
  padding: 2px;
}

.pesquisa input {
  border: none;
  outline: none;
  padding: 4px;
  width: 120px;
  border-radius: 16px;
  background-color: #000;
  color: #ffea00;
}

.pesquisa button {
  background-color: #ffea00;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  padding: 4px 8px;
  color: #000;
  transition: background-color 0.3s;
}

.pesquisa button:hover {
  background-color: #fff56d;
}

/* ====== USUÁRIO ====== */
.usuario {
  display: flex;
  align-items: center;
  gap: 6px;
}

.usuario button {
  background-color: #000;
  border: 1px solid #ffea00;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  color: #ffea00;
  transition: all 0.3s;
}

.usuario button:hover {
  background-color: #ffea00;
  color: #000;
}

.usuario img {
  width: 18px;
  height: 18px;
}

/* ====== USUÁRIO ====== */
.usuario {
  display: flex;
  align-items: center;
  gap: 6px;
}

.usuario button {
  background-color:#ffea00;
  border: 1px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  color: #f0d76c;
  transition: all 0.3s;
}

.usuario button:hover {
  background-color: #fff04d;
  color: #000;
}

.usuario img {
  width: 18px;
  height: 18px;
}

/* ====== MENU HAMBÚRGUER ====== */
.hamburguer {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.linha {
  height: 4px;
  background-color: #ffea00;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.menu-escondido {
  display: none;
}

.menu {
  display: none;
  list-style: none;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  background-color: #111;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.menu li a {
  display: block;
  padding: 16px;
  color: #f0d76c;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #b8860b;
  color: #000;
}

.menu-escondido:checked ~ .menu {
  display: block;
}

.menu-escondido:checked~.menu {
  max-height: 500px;
  padding: 8px 0;
}

.menu-escondido:checked~.hamburguer .linha1 {
  transform: rotate(50deg) translate(8px, 8px);
}

.menu-escondido:checked~.hamburguer .linha2 {
  opacity: 0;
}

.menu-escondido:checked~.hamburguer .linha3 {
  transform: rotate(-50deg) translate(8px, -7px);
}


.carrinho {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 40px auto;
  padding: 55px;
  max-width: 900px;
  border: 2px solid #ffea00;
  border-radius: 10px;
  background-color: #000;
}

.carrinho button{
  background-color: #ffea00;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #000;
  transition: background-color 0.3s;
  margin: 0px;
}

.carrinho button:hover{
  transition: 0.3s ease all;
  transform: scale(1.1);
  box-shadow: 0 0 10px #ffffff;
  color: #000;
  padding: 10px 16px;
  cursor: pointer;
  background-color: #c7c700;
}

.carrinho input{
  padding: 0%;
  width: 50px;
  height: 30px;
  border-radius: 10px;
}

.imagem-carrinho img{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgb(174, 255, 0, 0.5);
  margin-right: 0px;
}

.carrinho h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  color: #ffffff;
  justify-content: center;
}

.carrinho h3{
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  color: #ffffff;
  justify-content: center
}


footer {
  background-color: #000;
  color: #ffea00;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #ffea00;
  box-shadow: 0 -2px 10px rgba(255, 234, 0, 0.4);
  display: grid;
  place-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.poli{
  text-decoration: none;
  color: #ffffff;
}

.poli:hover{
  color: #b3a400;
}

.whatsapp-button {

    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #36652f;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    animation: pulse 2s infinite;

}

.whatsapp-button:hover{

    background-color: #00ff59;

}

@keyframes pulse{

    0%, 100% {transform: scale(1);}
    50% {transform: scale(1.1);}

}

.whatsapp-button img {

    width: 30px;
    height: 30px;

}




@media (max-width: 992px) {
  .nav-desktop {
    display: none;
  }

  .hamburguer {
    display: flex;
  }

  .contendo {
    flex-direction: column;
  }

  .card {
    max-width: 80%;
  }
}
